<div class="container px-5">
  <h2>Search Result</h2>
  <% if @object == "User" %>
    <% if @users.count > 0 %>
      <%= render 'users/index', users: @users %>
    <% else %>
      <%= "User not found" %>
    <% end %>
  <% else %>
    <% if @books.count > 0 %>
    <%= render 'books/index', books: @books %>
    <% else %>
    <%= "Book not found" %>
    <% end %>
  <% end %>
</div>
